.reviews{
  padding-bottom: 70px;
  &__content{
    margin-top: 70px;
    hr{
      margin: 50px 0;
    }
  }
  &-item{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    &__img{
      width: 170px;
      height: 170px;
    }
    &__wrapper{
      margin-left: 62px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
    &__name{
      font-size: 18px;
      font-weight: 700;
      color: #0d0d0d;
    }
    &__rang{
      margin-top: 10px;
      font-size: 14px;
      font-weight: 300;
      color: #646464;
    }
    &__comment{
      margin-top: 20px;
      font-size: 16px;
      font-weight: 300;
      color: #0d0d0d;
    }
  }

}